<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <input type="date" name="start" id="startDate" value="">
  <input type="date" name="end" id="endDate" value="">
  <button id="btn">submit</button>
  <select name="" id="mySelect" >
    <option value="USD" >USD</option>
    <option value="EUR">EUR</option>
  </select>

  <h4>Valeur MAX=<p id="valMx"></p></h4>
  <h4>Valeur MIN=<p id="valMn"></p></h4>

  <canvas id="my-chart"></canvas>


</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>